<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Web app katalog restoran sederhana" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="manifest" href="manifest.json" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Cari Makan</title>
  </head>
  <body>
    <a href="javascript:void(0)" id="skipLink" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="header__inner">
        <a href="#" class="logo">Cari Makan</a>
        <a id="menu" href="javascript:void(0)" class="header__menu">☰</a>
        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#/home">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item">
              <a
                href="https://www.linkedin.com/in/syaiful-izzuddin-salam-b02895119/"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="mainContent"></main>

    

    <footer>Copyright © 2020 - Cari Makan by Syaiful</footer>
  </body>
</html>
