* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #424242;
  margin: auto;
}

img {
  display: block;
}

p {
  color: #3d3d3d;
}

/*
 * Header & Navigation
 *
 */

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header__inner {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header__menu {
  font-size: 44px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 30px;
  display: block;
  width: 30px;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

#menu {
  color: white;
}

/*
 * main
 */

main {
  width: 100%;
  /* max-width: 1000px; */
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
 * Restaurants
 *
 */

#restaurants {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 32px;
}

.section__title {
  color: #322f56;
  font-size: 48px;
  font-weight: 500;
  padding: 0 16px;
  margin-bottom: 32px;
}

.restaurant__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  padding: 0 16px;
}

.restaurant__item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: block;
  position: relative;
  overflow: hidden;
}

.restaurant-item__thumbnail {
  width: 100%;
  position: relative;
}

.restaurant-item__thumbnail img {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  object-fit: cover;
}

.restaurant-item__main {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  color: white;
  text-align: start;
  padding: 16px;
}

.restaurant-item__title {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  text-decoration: none;
}

.restaurant-item__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.restaurant-item__city {
  font-size: 14px;
  font-weight: 500;
}

.restaurant-item__rating {
  font-size: 14px;
  font-weight: 600;
  color: #edd434;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.restaurant-item__description {
  display: block;
  text-align: start;
  margin: 16px;

  overflow: hidden;
  max-height: 9em;
  line-height: 1.8em;
}

/*
 * Footer
 */

footer {
  background-color: #2c3e50;
  color: white;
  padding: 2em;
  width: 100%;
  text-align: center;
}

/*
   Like
*/

.like {

  z-index: 5;
  font-size: 24px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: white;
  color: red;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white;
  /* outline: none; */

  -webkit-box-shadow: 0px 0px 12px 5px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 0px 12px 5px rgba(209, 209, 209, 1);
  box-shadow: 0px 0px 12px 5px rgba(209, 209, 209, 1);
}

.empty-plate {
  width: 100%;
  height: auto;
  margin: auto;
}

.empty-fav {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 64px;
}

.empty-fav__message {
  font-size: 18px;
  font-weight: 500;
  color: #2c3e50;
}

.loading__wrapper{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}


.empty-list {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-list__message {
  font-size: 18px;
  font-weight: 500;
  color: #2c3e50;
  padding: 0 32px;
  text-align: center;
}

.empty-list__image {
  width: 100px;
  height: auto;
  margin-bottom: 16px;
}